﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div>
        <br />
        <br />
        <br />
        <label for="users">Пользователи:</label>
        <div>
            <table class="table table-striped" id="users">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Возраст</th>
                        <th />
                        <th />
                    </tr>
                </thead>
                <tbody id="usersTBody"></tbody>
            </table>
            <button class="btn btn-success" data-toggle="modal" data-target="#userInfoModal" id="showModal">Добавить</button>
        </div>
    </div>

    <div class="modal fade" id="userInfoModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Данные пользователя</h4>
                </div>
                <input id="userId" type="number" hidden="hidden" />
                <form id="submitUser">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lastName">Фамилия:</label>
                            <input type="text" pattern="^[a-zA-ZА-Яа-яЁё]*$" class="form-control" id="lastName" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="firstName">Имя:</label>
                            <input type="text" pattern="^[a-zA-ZА-Яа-яЁё]*$" class="form-control" id="firstName" required />
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="secondName">Отчетсво:</label>
                            <input type="text" pattern="^[a-zA-ZА-Яа-яЁё]*$" class="form-control" id="secondName" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="age">Возраст:</label>
                            <input type="number" class="form-control" id="age">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Сохранить</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="closeModal" onclick="clearUserInfoModal()">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            getUsers();
            clearUserInfoModal();
        });

        function getUsers() {
            $.ajax({
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "/api/users",
                success: function (jsonResponse) {
                    $.each(jsonResponse, function (i, item) {
                        $('<tr>').append(
                        $("<td id=\"tdId_" + item.Id + "\">").text(item.Id),
                        $("<td id=\"tdLastName_" + item.Id + "\">").text(item.LastName),
                        $("<td id=\"tdFirstName_" + item.Id + "\">").text(item.FirstName),
                        $("<td id=\"tdSecondName_" + item.Id + "\">").text(item.SecondName),
                        $("<td id=\"tdAge_" + item.Id + "\">").text(item.Age),
                        $("<td><button class=\"btn btn-primary\" onclick=\"getUserById(" + item.Id + ")\">Редактировать</button></td>"),
                        $("<td><button class=\"btn btn-danger\" onclick=\"deleteUser(" + item.Id + ")\">Удалить</button></td>")).appendTo('#users');
                    });
                }

            })
        }

        function clearUserTable() {
            $("#usersTBody").empty();
        }

        function clearUserInfoModal() {
            $("#userId").val("")
            $("#firstName").val(""),
            $("#secondName").val(""),
            $("#lastName").val(""),
            $("#age").val("")
        }

        $("#submitUser").on('submit', function (event) {
            event.preventDefault();
            event.stopImmediatePropagation();

            user();
        });

        function user() {
            if ($("#userId").val() == null || $("#userId").val() == "") {
                createNewUser();
            } else {
                updateUser($("#userId").val());
            }
        }

        function createNewUser() {
            var user = {
                "FirstName": $("#firstName").val(),
                "SecondName": $("#secondName").val(),
                "LastName": $("#lastName").val(),
                "Age": $("#age").val()
            };
            $.ajax({
                type: "POST",
                url: "/api/users",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(user),
                success: function (jsonResponse) {
                    $("#closeModal").click();
                    clearUserTable();
                    getUsers();
                }
            });
        }

        function getUserById(id) {
            $("#userId").val($("#tdId_"+id).text());
            $("#firstName").val( $("#tdFirstName_" + id).text());
            $("#secondName").val($("#tdSecondName_" + id).text());
            $("#lastName").val($("#tdLastName_" + id).text());
            $("#age").val($("#tdAge_" + id).text());
            $("#showModal").click();
        }

        function updateUser(id) {
            var user = {
                "FirstName": $("#firstName").val(),
                "SecondName": $("#secondName").val(),
                "LastName": $("#lastName").val(),
                "Age": $("#age").val()
            };
            $.ajax({
                type: "PUT",
                url: "/api/users/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(user),
                success: function (jsonResponse) {
                    $("#closeModal").click();
                    clearUserTable();
                    getUsers();
                }
            });
        }

        function deleteUser(id) {
            $.ajax({
                type: "DELETE",
                url: "/api/users/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function () {
                    clearUserTable();
                    getUsers();
                }
            });
        }

    </script>
</body>
</html>