﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
    <div>
        <br />
        <br />
        <label for="inform">Статистика:</label>
        <div class="form-inline">
            <select class="form-control" id="statistic" onchange="showStat(this)">
                <option disabled selected="selected" value> -- выберете интересующую статистику -- </option>
                <option id="age">Средний возраст</option>
                <option id="count">Общее количество пользователей</option>
            </select>
            <label id="statInfo" />
        </div>
    </div>

    <script>
        function showStat(s) {
            console.log(s[s.selectedIndex].id);
            var url;
            if (s[s.selectedIndex].id == "count") {
                url = "/api/users/count";
            } else {
                url = "/api/users/avgage";
            }

            $.ajax({
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: url,
                success: function (jsonResponse) {
                    $("#statInfo").text(jsonResponse.Value);
                }
            });
        }
    </script>
</body>
</html>